<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Rota</h2>
  <div class="container" th:each="rota : ${rotas}">
  	<p class="bg-primary" th:text="${rota.enderecoOrigem}"></p><br/>
  	<p class="bg-success" th:text="${rota.enderecoDestino}"></p><br/>
  	<div class="container" th:each="passo : ${rota.getPassoList()}">
  		<p th:utext="${passo.instrucao} + ' por ' + ${passo.distancia}"></p><br/>
  	</div>
  </div>
</div>
</body>
</html>